<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic -->
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <!-- Site Metas -->
  <meta name="keywords" content=""/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>

  <title>Digian</title>

  <link href="home.component.css" rel="stylesheet"/>

</head>

<body>

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <span>
              RGT
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="aboutme"> About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#juegos">Juegos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="redirigirChat()">Sala de Chat</a>
              </li>
              <li class="nav-item">
                <a  class="nav-link" (click)="redirigirEncuesta()">Encuesta</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="leaderboard">Tabla de resultados</a>
              </li>
              <li class="nav-item" *ngIf=this.usuario>
                <a class="nav-link">{{this.usuario.email}}</a>
              </li>
            </ul>
            <div class="quote_btn-container">
              <a (click)="redirigir()" class="quote_btn">
                {{this.mensajeLog}}
              </a>
              
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      ¡Sala de juegos!
                    </h1>
                    <p>
                      Diviértete tanto como quieras en esta sala de juegos.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- service section -->
  <section id="juegos" class="service_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Juegos
        </h2>
        <p>
          Una variedad de divertidos juegos con los que podrás entretenerte.
        </p>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="box" (click)="redirigirJuego('ahorcado')">
            <div class="img-box">
              <img src="../../../assets/hangman-7.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Ahorcado
              </h5>
              <p>
                Un desafiante juego en el que se pondrá a prueba que tan rapido puedes adivinar palabras.
              </p>
              
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box" (click)="redirigirJuego('mayorOMenor')">
            <div class="img-box">
              <img src="../../../assets/cartas.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                ¿Mayor o menor?
              </h5>
              <p>
                ¡Una prueba de suerte! ¿O no del todo? Adivina si la proxima carta va a tener un valor mayor o menor que la actual...
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box" (click)="redirigirJuego('preguntados')">
            <div class="img-box">
              <img src="../../../assets/preguntados.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Preguntados
              </h5>
              <p>
                ¡Una trivia desafiante que te pondrá a prueba en diversas areas de conocimiento popular!
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box" (click)="redirigirJuego('palabrasEncadenadas')">
            <div class="img-box">
              <img src="../../../assets/palabras-encadenadas.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Palabras encadenadas
              </h5>
              <p>
                ¡Afila tu vocabulario encadenando tantas palabras como puedas! ¡Recuerda no repetirlas!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end service section -->

  <div class="footer_container">
    <!-- info section -->

    <section class="info_section ">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 ">
            <div class="info_detail">
              <h4>
              </h4>
              <p>
               </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-2 mx-auto">
            <div class="info_link_box">
              <h4>
              </h4>
              <div class="info_links">
                
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 ">
            <h4>
              
            </h4>
            <form action="#">
              
            </form>
          </div>
          <div class="col-md-6 col-lg-3 mb-0 ml-auto">
            
            <div class="info_social">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end info section -->

    
  </div>

  <!-- jQery -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.js"></script>
  <script src="js/custom.js"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
  <!-- End Google Map -->

</body>

</html>