<body>
    <div class="top-buttons">
      <button class="home-button" (click)="navigateToHome()">Volver al Home</button>
      <span class="user-email">{{ this.usuarioActual.email }}</span>
    </div>
    <div class="info-container">
        <div class="info">
            <div class="user-details">
                <div class="user-header">
                    <img src="../../../assets/profilepic.jpeg" alt="Foto de perfil" class="profile-picture">
                    <div class="name">
                        <h2>Tulis Curra Luis Alberto</h2>
                    </div>
                </div>
                <div class="user-description">
                    <h3>Biografía</h3>
                    <p>Estudiante de programación en la Universidad Tecnologica Nacional (FRA), motivado desde siempre en el descubrimiento de nuevas tecnologias que faciliten la creación de soluciones a diversos aspectos. </p><p>
                        
                        Abierto a desafios y problematicas que me ayuden a mejorar mis habilidades y poder seguir avanzando de manera tanto academica como profesional. 
                    </p>
                </div>
                <div class="user-description">
                    <h3>Palabras encadenadas</h3>
                    <p>Es un juego de ingenio y creatividad que desafía tu habilidad para conectar palabras de manera ingeniosa y rápida. ¿Puedes mantener la cadena de palabras el mayor tiempo posible?</p><p> 

                        El juego comienza con una palabra inicial, y tu objetivo es pensar en una palabra que comience con la última letra de la palabra anterior. Cada vez que lo hagas con éxito, ganas puntos y avanzas en el juego. Cuanto más larga sea tu cadena de palabras, mayores serán tus puntuaciones.</p><p> 
                        
                        Pero cuidado, ¡no puedes repetir palabras! Además, debes ser rápido, ya que el tiempo corre y cada segundo cuenta. </p>
                </div>
            </div>
        </div>
        <div class="back-container"></div>
    </div>
</body>