<body>
    <div class="header">
        <button (click)="irAlHome()" class="home-button">Volver al Home</button>
        <span class="account-name">{{ this.usuarioActual.email }}</span>
        <button (click)="irAlChat()" class="chat-button">Ir al Chat</button>
    </div>
    <div class="container">
        <div class="score-container">
            <div class="scoreboard">
                <div class="game">
                <h2>Ahorcado</h2>
                <ul>
                    <li *ngFor="let player of datosAhorcado">{{ player.mail }}: {{ player.puntos }}</li>
                </ul>
                </div>
                <div class="game">
                <h2>Mayor o Menor</h2>
                <ul>
                    <li *ngFor="let player of datosMayorMenor">{{ player.mail }}: {{ player.puntos }}</li>
                </ul>
                </div>
                <div class="game">
                <h2>Preguntados</h2>
                <ul>
                    <li *ngFor="let player of datosPreguntados">{{ player.mail }}: {{ player.puntos }}</li>
                </ul>
                </div>
                <div class="game">
                <h2>Palabras Encadenadas</h2>
                <ul>
                    <li *ngFor="let player of datosPalabrasEncadenadas">{{ player.mail }}: {{ player.puntos }}</li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</body>